# Voice2Claim Environment Variables
PORT=8086
ENVIRONMENT=development #production

# File Upload & Storage
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=15

# MQTT
MESSENGER=tcp://messenger:1883
MQTT_HOST=messenger
MQTT_PORT=1883
MQTT_TOPIC=ai/vn_transcript

DB_POSTGRES_HOST=postgres
DB_POSTGRES_PORT=5432
DB_POSTGRES_USER=admin
DB_POSTGRES_PASS=xxx
DB_POSTGRES_NAME=voice2claim_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=xxx

# LLM
VALSEA_API_URL=https://api.valsea.ai/v1/audio/transcriptions
VALSEA_API_KEY=xxx
QWEN_API_URL=https://ws-e6tggsg2mpb6wdxx.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1/chat/completions
QWEN_API_KEY=xxx
QWEN_MODEL=qwen-plus

# Emdedding & Theshold for Similarity Faiss
DEFAULT_THRESHOLD=0.85
EMBEDDING_URL="./e5"

# CORS
CORS=http://localhost:8086,https://dathoc.net
